<!doctype html>
<html>
<head>
    <title>Hello AngularJS</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        [ng\:cloak], [ng-cloak], .ng-cloak {
            display: none !important;
        }

        .turbine-list {
            margin-top: 25px;
        }

        .turbine-list tr input.price-input {
            width: 85px;
            display: inline-block;
        }

        .form-group {
            max-width: 400px;
        }

        .turbine-form .form-control {
            margin-top: 5px;
        }

        .turbine-form .btn {
            margin-top: 5px;
        }
    </style>
</head>

<body>
<div class="container">
    <h1>Turbine Panel</h1>

    <div ng-controller="turbineCtrl as turbineList" ng-cloak class="ng-cloak">
        <form ng-submit="turbineList.create()" class="form-group turbine-form">
            <input type="text" ng-model="turbineList.name" size="30" class="form-control"
                   placeholder="name">

            <input type="text" ng-model="turbineList.firstPace" size="30" class="form-control"
                   placeholder="first pace">
            <input type="text" ng-model="turbineList.lastPace" size="30" class="form-control"
                   placeholder="last pace">

            <input type="text" ng-model="turbineList.firstPressure" size="30" class="form-control"
                   placeholder="first pressure">
            <input type="text" ng-model="turbineList.lastPressure" size="30" class="form-control"
                   placeholder="last pressure">

            <input type="text" ng-model="turbineList.firstProdFactor" size="30" class="form-control"
                   placeholder="first prodFactor">
            <input type="text" ng-model="turbineList.lastProdFactor" size="30" class="form-control"
                   placeholder="last prodFactor">


            <input class="btn btn-primary" type="submit" value="add">
        </form>
        <div class="turbine-list">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Unit Price</th>
                    <th/>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="turbineItem in turbineList.items">
                    <td>
                        {{turbineItem.name}}
                    </td>
                    <td>
                        {{turbineItem.state}}
                    </td>
                    <td>

                        <input type="text" name="pr{{turbineItem.name}}" ng-model="turbineItem.unitPrice"
                               class="form-control price-input"
                               placeholder="unit price">

                        <button class="btn btn-info" ng-click="turbineList.updatePrice(turbineItem.name);">Update
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-info" ng-click="turbineList.startItem(turbineItem.name);">Start</button>
                        <button class="btn btn-danger" ng-click="turbineList.stopItem(turbineItem.name);">Stop</button>
                        <button class="btn btn-warning" ng-click="turbineList.setGraph(turbineItem.name);">Show Graph
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="revenue-area">
                <h4>Total Prod: {{turbineList.totalProd}}</h4>
                <h4>Total Revenue: {{turbineList.totalRevenue}}</h4>
            </div>
            <div class="chart-area">
                <line-chart chart="chart" class="line-chart"></line-chart>
            </div>


        </div>
    </div>

</div>
<script src="js/angular.min.js"></script>
<script src="js/ui-bootstrap-tpls-2.2.0.min.js"></script>
<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>
<script src="js/lineChart.js"></script>
<script src="js/hello.js"></script>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', {packages: ['corechart', 'line']});
    google.charts.setOnLoadCallback(function () {
        angular.bootstrap(document.body, ['turbine']);
    });
</script>

</body>
</html>